.employee-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align:center
  }
  
  .transaction-form input {
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .transaction-form button {
    margin: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .transaction-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color:#ddd;
    
  }
  
  .transaction-table th, .transaction-table td {
    border: 1px solid black;
    padding: 8px;
  }
  
  .transaction-table th {
    background-color: #f2f2f2;
  }
  
 
